.ct-btn-white {
    display: block;
    border: 1px solid #000;
    border-radius: 9999px;
    color: #000;
    background-color: transparent;
    transition: all .25s ease;
}
.ct-btn-white:hover {
    background-color: #fff;
    border: 1px solid #fff;
}

.ct-btn-dark {
    display: block;
    border: 1px solid #000;
    border-radius: 9999px;
    color: #000;
    background-color: #fff;
    transition: all .25s ease;
}
.ct-btn-dark:hover {
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
}

.ct-btn-transparent {
    display: block;
    border: 1px solid #fff;
    border-radius: 9999px;
    color: #fff;
    background-color: transparent;
    transition: all .25s ease;
}
.ct-btn-transparent:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #fff;
}

/* btn active */
.btn-active {
    background-color: #fff !important;
    color: #000 !important;
    border: 1px solid #fff !important;
}
.btn-active-dark {
    background-color: #000 !important;
    color: #fff !important;
    border: 1px solid #000 !important;
}


/* ========= SlickJs Custom ========= */
.slider .slick-arrow {
    position: absolute;
    z-index: 10;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    background-color: #fff !important;
    color: #000 !important;
    transition: all .25s ease;
    box-shadow: 2px 2px 3px #ccc;
}

.slider .slick-arrow:hover {
    color: #fff !important;
    background-color: #00b0f4 !important;
}

.slider .slick-arrow svg,
.slider .slick-arrow i {
    font-size: 18px;
}
.slider .slick-next::before {
    content: none !important;
}
.slider .slick-prev::before {
    content: none !important;
}
.slider .slick-prev {
    left: -56px;
}
.slider .slick-next {
    right: -56px;
}

.slider .slick-disabled {
    opacity: .6;
    background-color: #eee !important;
}
.slider .slick-disabled:hover {
    background-color: #eee !important;
    color: #000 !important;
}

.slider > div {
    padding-bottom: 2rem;
}

.slider .slick-dots {
    display: block;
    padding-top: 3rem;
}
.slider .slick-dots li button::before {
    content: none !important;
}
.slider .slick-dots li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: .5px solid #fff;
    background-color: #313639;
}

.slider .slick-dots .slick-active {
    background-color: #00b0f4;
}


/* ============= Header ============= */
.header {
    background: url(img/plant_01.jpg) center / cover no-repeat;
}

.ct-header-h1 {
    font-size: 15rem;
}

.header-magic {
    border-top-left-radius: 30px;
    position: relative;
}

.header-magic::before,
.header-magic::after {
    content: '';
    position: absolute;
    
    background-color: transparent;
    height: 50px;
    width: 25px;
}
.header-magic::after {
    left: -25px;
    bottom: 0;
    border-bottom-right-radius: 25px;
    box-shadow: 0 25px 0 0 #fff;
    z-index: 0;
}
.header-magic::before {
    top: -50px;
    right: 0;
    border-bottom-right-radius: 25px;
    box-shadow: 0 25px 0 0 #fff;
    z-index: 1;
}

/* -------- Header content -------- */
.hd-content-1 {
    background: url(img/plant-04.jpg) center / cover no-repeat;
}
.hd-content-2 {
    background: url(img/plant-03.jpg) center / cover no-repeat;
}
.hd-content-3 {
    background: url(img/plant-10.jpg) center / cover no-repeat;
}



/* ============= Media only screen ============= */
/* ------ Screen max-width 1024px ------ */
@media only screen and (max-width: 1024px) {
    .ct-header-h1 {
        font-size: 12rem;
    }
}

/* ------ Screen max-width 768px ------ */
@media only screen and (max-width: 768px) {
    .ct-header-h1 {
        font-size: 10rem;
    }
}

/* ------ Screen max-width 640px ------ */
@media only screen and (max-width: 640px) {
    .ct-header-h1 {
        font-size: 8rem;
    }
}